In [6]:
import pandas as pd
import numpy as np

In [7]:
data=pd.read_csv("/content/jokes-data (1).csv")

In [8]:
data

               id  user_id  joke_id  Rating
0       31030_110    31030    110.0   2.750
1       16144_109    16144    109.0   5.094
2         23098_6    23098      6.0  -6.438
3        14273_86    14273     86.0   4.406
4       18419_134    18419    134.0   9.375
...           ...      ...      ...     ...
530611    7048_77     7048     77.0   8.938
530612    22312_9    22312      9.0   4.031
530613   18684_82    18684     82.0   9.969
530614   19094_85    19094     85.0   1.250
530615     9292_3       92      NaN     NaN

[530616 rows x 4 columns]

In [9]:
data.head()

          id  user_id  joke_id  Rating
0  31030_110    31030    110.0   2.750
1  16144_109    16144    109.0   5.094
2    23098_6    23098      6.0  -6.438
3   14273_86    14273     86.0   4.406
4  18419_134    18419    134.0   9.375

In [10]:
data.columns

Index(['id', 'user_id', 'joke_id', 'Rating'], dtype='object')

In [11]:
data.shape

(530616, 4)

In [12]:
data['user_id'].nunique()

40800

In [13]:
data['joke_id'].nunique()

139

In [14]:
##### surprise

In [15]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise (from surprise)
  Downloading scikit-surprise-1.1.3.tar.gz (771 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 772.0/772.0 kB 11.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.10.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp310-cp310-linux_x86_64.whl size=3095444 sha256=65694ad813f05357b1989bf4e04954649ee687977e1c5a35ceb265b16b76cdf9
  Stored in directory: /root/.cache/pip/wheels/a5/ca/a8/4e28def53797fdc4363ca4af740db15a9c2f1595ebc51fb445
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.3 surprise-0.1

In [16]:
#### collobarative filteing

In [17]:
#### user_id,joke_id,rating

In [18]:
data = data.drop("id", axis=1)

In [19]:
data

        user_id  joke_id  Rating
0         31030    110.0   2.750
1         16144    109.0   5.094
2         23098      6.0  -6.438
3         14273     86.0   4.406
4         18419    134.0   9.375
...         ...      ...     ...
530611     7048     77.0   8.938
530612    22312      9.0   4.031
530613    18684     82.0   9.969
530614    19094     85.0   1.250
530615       92      NaN     NaN

[530616 rows x 3 columns]

In [20]:
from surprise import Reader, Dataset, KNNBasic, SVD

In [21]:
##### define a reader object
#### the reader object helps in parsing the file or dataframe containing ratings

In [22]:
reader = Reader()

In [23]:
#### create a the dataset to be used for building the filter

In [24]:
data1 = Dataset.load_from_df(data, reader)

In [25]:
data1

SVD

In [26]:
algo1 = SVD()

In [27]:
from surprise.model_selection import cross_validate

In [28]:
cross_validate(algo1, data1, measures = ["RMSE"], cv = 5, verbose = True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    6.1620  6.1479  6.1708  nan     6.1562  nan     nan
Fit time          10.96   10.98   8.87    8.98    8.91    9.74    1.01
Test time         2.60    1.24    1.25    1.12    1.36    1.51    0.55

{'test_rmse': array([6.16197876, 6.14792017, 6.17078865,        nan, 6.15624383]),
 'fit_time': (10.964298963546753,
  10.97778868675232,
  8.869318962097168,
  8.98186469078064,
  8.90518307685852),
 'test_time': (2.59730863571167,
  1.2390413284301758,
  1.2487273216247559,
  1.1192128658294678,
  1.359640121459961)}

In [29]:
algo=KNNBasic

In [ ]:
#cross_validate(algo, data1, measures = ["RMSE"],cv = 5,verbose = True)

In [31]:
df_test = pd.read_csv('/content/jokes-data (1).csv')
df_test.head(10)

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375
5    5782_14     5782       14  -1.781
6   34059_62    34059       62   6.250
7     1159_9     1159        9  -2.906
8   17736_32    17736       32  -5.750
9   22626_22    22626       22   1.656

In [32]:
df_test.nunique()

id         1092059
user_id      40863
joke_id        139
Rating         641
dtype: int64

In [33]:
df_test.drop('id', axis=1, inplace=True)

In [34]:
test_reader = Reader()
test_data = Dataset.load_from_df(df_test, test_reader)

In [35]:
test_data